*{
    font-family: 'Poppins', sans-serif;
    
    
    }
    a{
    text-decoration: none;
    color: white;
    
    }
    #navebar_TopDiv_Mean_Womens{
    height: 59px;
    width: 1409px;
    /* border: 1px solid red; */
    display: flex;
    padding-left: 100px;
    background-color: rgb(45,45,45);
    }
    #navebar_TopDiv_Mean_Womens>:nth-child(1){
    width: 130px;
    /* border: 1px solid violet; */
    background-color: rgb(45,45,45);
    padding-bottom: -10px;
    padding-bottom: 30px;
    
    
    }
    
    #navebar_TopDiv_Mean_Womens>:nth-child(1)>h1{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 55px;
    margin-top: -10px;
    margin-bottom: 25px;
    letter-spacing: -7px;
    font-weight: 500;
    margin-left: 8px;
    
    
    
    }
    #navebar_TopDiv_Mean_Womens>:nth-child(1)>h1>a{
    color: white;
    margin-bottom: 25px;
    
    }
    #navebar_TopDiv_Mean_Womens>:nth-child(2){
    width: 110px;
    /* border: 1px solid violet; */
    text-align: center;
    cursor: pointer;
    }
    #navebar_TopDiv_Mean_Womens>:nth-child(2):hover{
    
    background-color: #666666;
    
    }
    #navebar_TopDiv_Mean_Womens>:nth-child(2)>h4>a{
    color: white;
    letter-spacing: 1.4px;
    
    }
    #navebar_TopDiv_Mean_Womens>:nth-child(3){
    width: 110px;
    text-align: center;
    letter-spacing: 2px;
    cursor: pointer;
    margin-right: 800px;
    }
    #navebar_TopDiv_Mean_Womens>:nth-child(3):hover{
    
    background-color: #666666;
    
    }
    #navebar_TopDiv_Mean_Womens>:nth-child(4){
    width: 51px;
    /* border: 1px solid rgb(255, 255, 255); */
    background-color: rgb(45,45,45);
    border-top: none;
    border-bottom: none;
    /* border: 3px solid rgb(255, 255, 255); */
    border-top: none;
    border-bottom: none;
    }
    #navebar_TopDiv_Mean_Womens>:nth-child(4):hover{
    /* background: #fff; */
    color: #000;
    border: 3px solid rgb(41, 204, 245);
    }
    