
   *{
    font-family: 'Poppins', sans-serif;

}
body{
    background: rgb(238,238,238);
}

#heading{
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -6px;
    margin-bottom: 10px;
}
#signPage{
    width: 600px;
    height: 610px;
    /* border: 1px solid red; */
    margin: auto;
    background: white;
    
}
#signDiv11{
    display: flex;
    width: 550px;
    height: 100px;
    justify-content: space-between;
    margin: auto;
    margin-right: 29px;
    height: 70px;
    margin-top: 15px;
    /* border: 1px solid red; */
}
#signDiv11>div{
    width: 50%;
    /* height: 100px; */
    border: 2px solid rgb(1, 120, 224);
    margin-left: 7px;
    text-align: center;
    padding-top: 21px;
    border-left: none;
    border-right: none;
    border-top: none;
    
    
}
#signDiv11>div>a{
    font-size: 15px;
    font-weight: 600 ;
    letter-spacing: 1.3px;
    text-decoration: none;
    color: rgb(124, 124, 124);
}
#signDiv22{
    width: 60%;
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: 30px;
}
#signDiv22>form>p{
    font-size: 14px;
    font-weight: 600 ;
    color: rgb(110, 108, 108);
    letter-spacing: 2px;
    /* margin-bottom: 0px; */

}
#signDiv22>form>input{
    margin-top: -3px;
    /* background-color: aquamarine; */
    width: 350px;
    height: 45px;
    border: 1px solid rgb(91, 91, 91);
    margin-bottom: 13px;
}
#signDiv22>form>:nth-child(9){
    width: 357px;
    margin-top: 27px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
    background: rgb(26, 26, 26);

}
#signDiv22>form>:nth-child(9):hover{
    background: rgb(82, 81, 81);
}

/* div2--border-color */

#signDiv11>:nth-child(2){

    border: 2px solid rgb(230, 228, 228);
    border-left: none;
    border-right: none;
    border-top: none;
    

}
#signDiv11>:nth-child(2):hover{
    border: 2px solid rgb(1, 120, 224);
    border-left: none;
    border-right: none;
    border-top: none;
    
}
