.dropbtn {
    background-color: rgb(45,45,45);
    height: 26px;
    color: white;
    padding: 16px 15px;
    font-size: 16px;
    border: none;
    /* width: 250p; */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    /* margin-left:30px; */
    cursor:pointer;
    
    /* width: 250p; */
  }
  
  .dropdown-content {
    display: none;
    /* position: absolute; */
    /* background-color: #f1f1f1; */
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    width: 180px;
    padding: 18px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;

    
  }
  
  .dropdown-content a:hover {background-color: white; color: rgb(25, 149, 220);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(45,45,45);}


  